<h1>See all our delicious recipes!</h1>

<% @recipes.each_slice(3) do |three_recipes|%>
  <div class="row">
    <% three_recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="well">
          <h3>Title: <%= recipe.title %></h3>
          <p>Chef: <%= recipe.chef %></p>
          <p>Ingredients: <%= recipe.ingredients %></p>
          <p>Directions: <%= recipe.directions %></p>
          <p>Prep Time: <%= recipe.prep_time %></p>
          <p>Price: <%= recipe.price %></p>
          <hr>
        </div>
      </div>
    <% end %>
  </div>
<% end %>