<p>Here's a recipe!</p>

  <h2>Title: <%= @recipe.title %></h2>
  <p>Chef: <%= @recipe.chef %></p>
  <p>Ingredients: <%= @recipe.ingredients %></p>
  <p>Directions: <%= @recipe.directions %></p>
  <p>Prep Time: <%= @recipe.prep_time %></p>
  <p>Price: <%= @recipe.price %></p>