<p>Here's the recipe you wanted!</p>

  <h2>Title: <%= @recipe.title %></h2>
  <p>Chef: <%= @recipe.chef %></p>
  <p>Ingredients: <%= @recipe.ingredients %></p>
  <p>Directions: <%= @recipe.directions %></p>
  <p>Prep Time: <%= @recipe.prep_time %></p>
  <p>Price: <%= @recipe.price %></p>
  <br>
  <div>

  <% if current_user && current_user.admin #Person this belongs to %>
    #Code saying that edit and delete buttons you need to add are only available if they're an admin (or the owner of the recipe)
  <% end %>
    Quantity: 
    <%= form_tag "/carted_products", method: :post do %>
      <input type="text" name="quantity">
      <input type="text" name="recipe_id" value="<%= @recipe.id %>">
      <input type="text" name="recipe_price" value="<%= @recipe.price %>">      
      <input type="submit" value="Add to cart!">
    <% end %>
  </div>
