<p>Here are all the products offered by the company!</p>

  <h2>Name: <%= @product.name %></h2>
  <p>Category: <%= @product.category %></p>
  <p>Tags: <%= @product.tags %></p>
  <p>Price: $<%= @product.price %></p>
  <br>
  <div>

    <%= form_tag "/carted_products", method: :post do %>
      Quantity: <input type="text" name="quantity">
      <hr>
      <input type="submit" value="Add to cart!">
    <% end %>
  </div>
