<h1>Signup your company here!</h1>

<% if current_company %>

  <h1>Add your products here!</h1>

  <%= form_for @company, html: { multipart: true } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :company_description %>
    <%= f.text_field :company_description %>

    <%= f.label :delivery_time %>
    <%= f.text_field :delivery_time %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>

    <%= f.label :deliver_radius %>
    <%= f.text_field :deliver_radius %>

    <%= f.label :website %>
    <%= f.text_field :website %>

    <%= f.label :total_locations %>
    <%= f.text_field :total_locations %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>

    <%= f.label :pictures %>
    <%= f.file_field :pictures, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>

    <%= f.label :image_description %>
    <%= f.text_field :image_description %>

    <%= f.submit "Submit" %>
  <% end %>

<% end %>


  <%= form_tag "/companies", method: :post do  %>
  <div>
    Name:
    <input type="text" name="name">
  </div>

  <div>
    Address:
    <input type="text" name="address">
  </div>

  <div>
    Image description:
    <input type="text" name="image_description">
  </div>

  <div>
    Company description:
    <input type="text" name="company_description">
  </div>

  <div>
    Email:
    <input type="text" name="email">
  </div>

  <div>
    Phone number:
    <input type="text" name="phone_number">
  </div>

  <div>
    Delivery radius:
    <input type="text" name="deliver_radius">
  </div>


  <div>
    Website:
    <input type="text" name="website">
  </div>

  <div>
    Number of locations:
    <input type="text" name="total_locations">
  </div>

  <div>
    Password:
    <input type="text" name="password">
  </div>

  <div>
    Confirm Password:
    <input type="text" name="password_confirmation">
  </div>

  <input type="submit" value="Submit">
<% end %>