<h2>Here are all the contacts!</h2>

<% @contacts.each do %> 
  <p>Name: <%= @name %></p>
  <p>Email: <%= @email %></p>
  <p>Number: <%= @number %></p>
  <p>Photo: <%= @image %></p>
  <p>Address: <%= @address %></p>
<% end %>